<div class="page-width">
  <h1 class="small--text-center" style="text-align: center;">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images" style="position: relative;max-width: 460px;margin: 0 auto;">
      {{ page.content }}
      <!--Tracking number input box.-->
      <input type="text" id="YQNum" maxlength="50" style="width: 70%;">
      <!--The button is used to call script method.-->
      <input type="button" value="TRACK" onclick="doTrack()" style="width: 28%;">
      <!--Container to display the tracking result.-->
      <div id="YQContainer" class="small--text-center" style="margin: 0 auto;"></div>
      <!--Script code can be put in the bottom of the page, wait until the page is loaded then execute.--><script type="text/javascript" src="//www.17track.net/externalcall.js"></script><script type="text/javascript">// <![CDATA[
      function doTrack() {
          var num = document.getElementById("YQNum").value;
          if(num===""){
              alert("Enter your number.");
              return;
          }
          YQV5.trackSingle({
              //Required, Specify the container ID of the carrier content.
              YQ_ContainerId:"YQContainer",
              //Optional, specify tracking result height, max height 800px, default is 560px.
              YQ_Height:560,
              //Optional, select carrier, default to auto identify.
              YQ_Fc:"0",
              //Optional, specify UI language, default language is automatically detected based on the browser settings.
              YQ_Lang:"en",
              //Required, specify the number needed to be tracked.
              YQ_Num:num
          });
      }
      // ]]></script>
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>
